$primary-color: #2A324B;
$secondary-color: #58699D;
$background-color: #E1E5EE;
$white: #fff;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: $background-color;
  color: $primary-color;
}

header {
  background-color: $background-color;
  text-align: center;
  padding: 90px;

  #logo {
    color: $white;
    font-size: 24px;
    text-decoration: none;
    display: block;
  }
}

nav {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;

  ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    width: 100%;
  }

  a {
    padding: 20px 65px;
    color: $white;
    background-color: $primary-color;
    font-size: 20px;
    white-space: nowrap;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;

    &[aria-current="page"] {
      background-color: $white;
      color: $primary-color;
    }

    &:hover {
      background-color: $white;
      color: $primary-color;
    }
  }
}

main {
  display: flex;
  justify-content: flex-start;
  background-color: $white;
  padding: 50px;
  margin: 0 auto;
  max-width: 1200px;

  h1 {
    font-size: 24px;
    margin-bottom: 15px;
    color: $primary-color;
    font-weight: bold;
    width: 100%;
  }

  section {
    width: 100%;
    max-width: 800px;
    margin: 20px 0;
    padding: 40px;
    text-align: left;

    p {
      font-size: 16px;
      margin: 15px 0;
      color: $primary-color;
    }

    ul {
      list-style-type: disc;
      margin-left: 40px;
    }

    a {
      color: $secondary-color;
      text-decoration: underline;
    }
  }
}

@media screen and (max-width: 1200px) {
  nav {
    ul {
      gap: 10px;
      max-width: 80%;
    }
    a {
      padding: 15px 40px;
      font-size: 15px;
    }
  }
  main {
    max-width: 80%;
  }
}

@media screen and (max-width: 1020px) {
  nav ul {
    flex-direction: column;
  }
  nav a {
    padding: 10px 30px;
    font-size: 20px;
    width: 100%;
  }
}